<div>
    <h2 style="text-align: center; margin-top: 10px; " class="mat-display-1">{{character.name}}</h2>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-grid-list cols="8" rowHeight="200px">
        <mat-grid-tile colspan="2" rowspan="3">
            <img mat-card-xl-image class="character-image" mat-card-xl-image src="assets/{{character.gender}}.png" />
        </mat-grid-tile>
        <mat-grid-tile style="margin-left: 20px;" colspan="2" rowspan="3">
            <mat-list style="margin-top:20px ; margin-bottom: 20px;" role="list">
                <h3 class="mat-title">Gender: <span> {{character.gender}} </span> </h3>
                <h3 class="mat-title">Culture: <span> {{character.culture}} </span> </h3>
                <h3 class="mat-title">Born: <span> {{character.born}} </span> </h3>
                <h3 class="mat-title">Died: <span> {{character.died}} </span> </h3>
                <h3 class="mat-title">Titles: <span> {{character.titles}} </span> </h3>
                <h3 *ngIf="father" class="mat-title">Father: <span> <a (click)="ngOnInit()"
                            [routerLink]="['/characters/'+getId(father.url)]">{{father.name}}</a> </span> </h3>
                <h3 *ngIf="mother" (click)="ngOnInit()" class="mat-title">Mother: <span> <a
                            [routerLink]="['/characters/'+getId(mother.url)]">{{mother.name}}</a> </span> </h3>
                <h3 *ngIf="spouse" class="mat-title">Spouse: <span><a [routerLink]="['/characters/'+getId(spouse.url)]"
                            (click)="ngOnInit()" routerLinkActive="active">
                            {{spouse.name}}</a> </span> </h3>
                <h3 class="mat-title">TV Series: <span> {{character.tvSeries}} </span> </h3>
                <h3 class="mat-title">Played By: <span> {{character.playedBy}} </span> </h3>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="3">
            <mat-selection-list [multiple]="false" role="list">
                <div mat-subheader>Allegiances</div>
                <div class="scroller">
                    <mat-list-option mat-button [routerLink]="['/houses/'+getId(allegiance.url)]"
                        *ngFor="let allegiance of allegiances">
                        <mat-icon mat-list-icon>castle</mat-icon>
                        <div mat-line>{{allegiance.name}}</div>
                    </mat-list-option>
                </div>
                <div mat-subheader style="margin-top:20px ;">Books</div>
                <div class="scroller">
                    <mat-list-option mat-button [routerLink]="['/books/'+getId(book.url)]" *ngFor="let book of books">
                        <mat-icon mat-list-icon>menu_book</mat-icon>
                        <div mat-line>{{book.name}}</div>
                    </mat-list-option>
                </div>
                <div mat-subheader style="margin-top:20px ;">POV Books</div>
                <div class="scroller">
                    <mat-list-option mat-button [routerLink]="['/books/'+getId(povBook.url)]"
                        *ngFor="let povBook of povBooks">
                        <mat-icon mat-list-icon>menu_book</mat-icon>
                        <div mat-line>{{povBook.name}}</div>
                    </mat-list-option>
                </div>
            </mat-selection-list>
        </mat-grid-tile>
    </mat-grid-list>
</div>